* {
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

.banner {
  background: rgba(229, 84, 115, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 50px 240px 0px 240px;
}

.banner-title {
  width: 600px;
  color: #272727;
  font-family: Lato;
  font-size: 55px;
  font-weight: 800;
  margin-bottom: 20px;
}

.btn-primary {
  margin-top: 20px;
  padding: 16px 30px;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
}

.banner-desc {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  width: 600px;
}

.banner-img {
  width: 400px;
}

.feature {
  text-align: center;
  margin: 100px auto;
}

.feature-title {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 20px;
}

.feature-desc {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
}

.featured {
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.first-card-img {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  height: 400px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 32px;
}
.second-card-img {
  justify-content: center;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  height: 400px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 32px;
}
.third-card-img {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  height: 400px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 32px;
}

.card-title {
  text-decoration: underline;
}

.services {
  padding: 30px;
  width: 80%;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  display: flex;
  margin: 100px auto;
  justify-content: space-around;
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-weight: 600;
}

.deals {
  display: flex;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  width: 100%;
  height: 60vh;
  padding: 50px;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10%;
}

.social-title {
  color: #272727;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 20px;
}

.social-desc {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
}

.social {
  margin-top: 80px;
}

.insta-post {
  margin: 48px 240px 128px;
  display: flex;
  justify-content: center;
  height: 40vh;
  gap: 43px;
}

.email-input {
  border-radius: 8px;
  background: #fff;
  width: 700px;
  height: 55px;
}

.input-title {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 20px;
}

.input-desc {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
}

.hot-deals {
  width: 80%;
  border-radius: 8px;
  /* margin: 128px 240px; */
  height: 400px;
  background-image: url("../assets/Rectangle 9.png");
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.insta-img{
  border-radius: 8px;
}

.contact-form {
  background: rgba(229, 84, 115, 0.05);
  margin: 50px 145px;
  padding: 50px;
  border-radius: 8px;
}

.form-title {
  margin-bottom: 30px;
  color: #e55473;
  text-align: center;
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 20px;
}
.form {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: white;
}
label {
  display: block;
  margin-bottom: 10px;
}
input,
textarea {
  width: 100%;
  margin-bottom: 20px;
}
.submit {
  height: 55px;
  display: block;
  width: 20%;
  margin: auto;
  background-color: #e55473;
  color: white;
  border: none;
  padding: 10px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  text-align: center;
  margin-top: 80px;
  background: #111010;
  height: 300px;
  width: 100%;
}
.footer-title {
  color: #ffffff73;
  font-family: Lato;
  font-size: 48px;
  font-weight: 800;
}

.footer-desc {
  color: rgba(255, 255, 255, 0.9);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
}

.rights {
  color: rgba(255, 255, 255, 0.4);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
}

.primary {
  color: #e55473;
  font-size: 18px;
  font-weight: 400;
}

.span {
  color: #e55473;
  font-size: 48px;
  font-weight: 800;
}
